.App {
  text-align: center;
}

.input-group {
  width: 50%;
}

.card {
  width: 80%;
}

.card-title {
  position: absolute;
  padding: 1.25rem;
}

.card-date {
  position: absolute;
  padding: 1.25rem;
  margin-top: 60px;
  right: 0;
}

.card-temp {
  position: absolute;
  padding-left: 1.25rem;
  margin-top: 16.25rem;
  font-size: 3.125rem;
}

.card-desc {
  position: absolute;
  padding-left: 1.25rem;
  margin-top: 20.25rem;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/7134998/pexels-photo-7134998.jpeg?cs=srgb&dl=pexels-gradienta-7134998.jpg&fm=jpg);
  background-size: cover;
  background-position: center;
  animation: color-change 120s linear infinite;
  animation-delay: 10s;
}

/* adding rain img and making opacity 0 */

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/7134998/pexels-photo-7134998.jpeg?cs=srgb&dl=pexels-gradienta-7134998.jpg&fm=jpg);
  animation: rain 120s linear infinite;
  opacity: 0;
}

/* just changing the position of image
		of rain using keyframes */
@keyframes rain {
  0% {
    background-position: 0 0;
    opacity: 1;
  }

  100% {
    background-position: 8% 80%;
    opacity: 1;
  }
}

/* applying filter at different angle
		on diffrent interval using keyframe */
@keyframes color-change {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.temp {
  margin-right: 12px;
}

.player {
  display: none;
}
